body {
  margin: 0;
  font-family: Arial;
  color: white;

  /* 🔥 هنا الصورة اللي تبيها */
  background: url("images.png") no-repeat center center fixed;
  background-size: cover;
}

/* تغميق بسيط عشان النص يوضح */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  z-index: -1;
}

/* الهيدر */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: rgba(0,0,0,0.5);
}

.logo {
  font-size: 22px;
  color: #c77dff;
  font-weight: bold;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
}

nav a:hover {
  background: #9d4edd;
}

/* النص */
.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 70px;
  color: #c77dff;
  text-shadow: 0 0 20px #9d4edd;
}

.hero p {
  color: #ccc;
}

.btn {
  margin-top: 20px;
  padding: 12px 25px;
  background: #9d4edd;
  color: white;
  text-decoration: none;
  border-radius: 10px;
}

.btn:hover {
  box-shadow: 0 0 20px #9d4edd;
}
body {
  background: red !important;
}
.discord {
  margin-top: 25px;
  padding: 12px 30px;
  border-radius: 12px;
  text-decoration: none;
  color: white;

  background: #5865F2; /* لون ديسكورد */
  box-shadow: 0 0 20px rgba(88,101,242,0.5);
  transition: 0.3s;
  font-weight: bold;
}

.discord:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px rgba(88,101,242,0.8);
}
